
.skull img {
  width: 27%;
  height: auto;
}

#gui {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
  background-color: white;
  opacity: .85;
  border-radius: 5px;
}

.buttonsTable {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
  display: table;
}

.buttonsRow{
  display: table-row;
  margin-left: 5%;
}

#button {
  display: table-cell;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  text-align: center;
  background-color: white;
  opacity: .5;
  border-radius: 5px;
}

#button:hover {
  opacity: .9
}

#button img {
  width: auto;
  height: 250px;
  margin-left: 50px;
  margin-right: 50px;
}

body {
  background-image: url(../images/calaveritas.jpg);
}
