
.skull img {
  width: 27%;
  height: auto;
}

#gui {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
  background-color: white;
  opacity: .85;
  border-radius: 5px;
}

#button {
  margin-left: 5%;
  margin-right: 5%;
  width: 33%;
  text-align: center;
  background-color: white;
  opacity: .5;
  border-radius: 5px;
}

.premadeSkulls img {
  width: 100%;
  height: auto;
}

body {
  background-image: url(../images/calaveritas.jpg);
}
