.skull{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
  background-color: white;
  opacity: .85;
  border-radius: 5px;
}

.skull img {
  width: 27%;
  height: auto;
}

.header {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  text-align: center;
  background-color: white;
  opacity: .85;
  border-radius: 5px;
}

body {
  background-image: url(../images/colours-shiny.jpg);
}
